<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-I9GTmOqKZlB5DS_aewUHJHlHtf6-Pzo</string>
	<key>GCM_SENDER_ID</key>
	<string>63862218935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAvatar</string>
	<key>PROJECT_ID</key>
	<string>my-avatar-9a9fc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-avatar-9a9fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63862218935:ios:69764767dbf13a3dd62d32</string>
</dict>
</plist>